extends layout

block content

	style.
		table.table {
			width: 750px;
			height: 560px;
			margin: 0 auto;
			border-spacing: 10px;
			
		}
		
		table.table td {
			width: 180px;
			height: 180px;
			background-color : #27B9F2;
			color : white;
			font-size : 30px;
			padding: 20px;
		}

		li.table {
			background-color: #344859;
			color: white;
		}
		li.order {
			background-color: #b8bfbe;
		}

	nav.main
		ul 
			li.table 테이블
			li.order 결제
	section#main 
		table.table 
			tr
				td 01 번
					p 사용 가능
					p 
				td 02 번
					p 사용 가능
				td 03 번
					p 사용 가능				
				td 04 번
					p 사용 가능
			tr
				td 05 번
					p 사용 가능
				td 06 번
					p 사용 가능
				td 07 번
					p 사용 가능				
				td 08 번
					p 사용 가능 
			tr
				td 09 번
					p 사용 가능
				td 10 번
					p 사용 가능
				td 11 번
					p 사용 가능 
				td 12 번
					p 사용 가능 							
