extends layout

block content

	style.
		section.main div {
			width: 180px;
			height: 180px;
			background-color : #27B9F2;
			color : white;
			font-size : 30px;
			padding: 20px;
			margin: 5px;
		}

		li.table {
			background-color: #344859;
			color: white;
		}
		li.order {
			background-color: #b8bfbe;
		}

	nav.main
		ul 
			li.table 테이블
			li.order 결제
	section.main 		
		- for (let i= 0; i < 12; i++) 
			- if(i+1 < 10)
				div.table(data-id= i+1)= "0" + (i+1) + "번"
					p.table(data-id= i+1) 사용 가능
			- else
				div.table(data-id= i+1)= i+1 + "번"
					p.table(data-id= i+1) 사용 가능				
			
	script.
		document.querySelector("section.main")
		.addEventListener("click", (e)=>{
			const target = e.target 
			if(target.tagName === "DIV" || "P" 
				&& target.className.includes("table")){
				table_id = target.dataset.id;
				document.location.href=`/order/table/${table_id}`
			}
		})

	