doctype html
html(lang="ko")
	head
		title POS
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		header.main
			h1 매장용 POS 

	block content 

	footer 
		address CopyRight &copy; soyeon-noh

script.
	document.querySelector("nav.main")
	.addEventListener("click", (e)=>{
		const li = e.target 
		if(li.className === "table"){
			document.location.href=`/table`
		} else if (li.className === "order"){
			document.location.href=`/order`
		}
	})