extends layout

block content

	style.
		table.table {
			width: 750px;
			height: 560px;
			margin: 0 auto;
			border-spacing: 10px;
			
		}
		
		table.table td {
			width: 180px;
			height: 180px;
			background-color : #27B9F2;
			color : white;
			font-size : 30px;
			padding: 20px;
		}

		li.table {
			background-color: #b8bfbe;
		}
		li.order {
			background-color: #344859;
			color: white;
		}

	nav.main
		ul 
			li.table 테이블
			li.order 결제

	section#order
		table.order 
			tr
				td 상품명
				td 단가
				td 수량
				td 금액
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
			tr
				td 
				td 
				td 
				td 
