html
	head
		title 우리동네 김밥천국
		style.
			* {
				box-sizing : border-box;
				margin: 0;
				padding: 0;
			}
			body {
				width: 100vw;
				height: 100vh;

				display: flex;
				flex-flow: column;
			}
			header {
				width: 100vw;
				padding: 1rem;
				background-color: #F2884B;
				color: white;
				text-shadow: 1px 1px 1px black;
				text-align: center;
			}



			footer {
				background-color: #090A0D;
				color: white;
				text-align: center;
				padding: 0.5rem;
			}
    
	body
		header 
			h1 김밥천국 2021
			
		section.main
			block content

		footer 
			address CopyRight &copy; soyeon-noh
